body{
    background: lightblue;
}



header{
    background: lightblue;
    width: 100%;
    padding: 32px 15%;
    top: 0;
    right: 0;
    position: fixed;
}

.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 35px;
    margin-left: 20em;
    position: relative;
}

@media (max-width: 768px) {
    .navbar{
        margin: auto;
        width: auto;
        height: auto;
        margin-left: 10rem;
    }
}

.navbar a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.title-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    color: red;
}


#Homee{
    margin-top: 5em;
    background: lightgray;
    width: 100%;
    height: 1050px;
    left: 0;
    top: 0;
    margin-left: calc(50%, );
    margin-right: calc(50em, 10%);
}

.container-img{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 60%;
    width: 100%;
    filter: drop-shadow(1px 1px 10px red);
}

.text-about h2{
    margin-left: 50px;
    font-size: 45px;
}

.text-about h1{
    margin-top: 1em;
    margin-left: 50px;
    font-size: 45px;
}

.text-about span{
    margin-right: 15px;
    color: red;
}

.text-about p{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.container{
    display: flex;
    justify-content: center;
}

.bt{
    margin-top: 30em;
    width: 30%;
    height: 8%;
    margin-left: 50px;
    background: skyblue;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px red,
                0 0 20px  darkgrey;
}

.bt h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-right: 40px;
    font-weight: bold;
}

.Link{
    width: 20%;
    height: 5%;
    cursor: pointer;
    background: blue;
    color: white;
    border-radius: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 20px  red,
                0 0 20px  blue,
                0 0 20px  darkblue;
    margin-top: 20px;
}

.Link2{
    width: 20%;
    height: 5%;
    cursor: pointer;
    background: linear-gradient(#a619f8, #fe0000);
    color: white;
    border-radius: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 20px  red,
                0 0 20px  blue,
                0 0 20px  darkblue;
    margin-top: 20px;
}
