body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#a619f8, #00f2fe);
}

#main-header{
    background: transparent;
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.title a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 7em;
}

#Main-Home{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: transparent;
    backdrop-filter: blur(120px);
    height: 80vh;
    margin: 20px;
    margin-top: 5em;
    border-radius: 30px;
    grid-row: 2;

}

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text{
    color: white;
    margin-left: 2em;
}

.container-text h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.container-text h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.container-text p{
    width: 35em;
}

.container-text h2{
    background: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 8em;
    box-shadow: 0 0 10px yellow;
}

.container-text a{
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-weight: bold;
}

.button{
    background: transparent;
    box-shadow: 0 0 10px white;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
}

.button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#Main-About{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 8em;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
}

.about-text{
    color: white;
    margin-right: 2em;
}

.about-text h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: right;
}

.about-text p{
    width: 40em;
    text-align: right;
}

.title-about{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    color: white;
}

@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 300px;
    }

    .home-img{
        width: 200px;
        height: 200px;
        margin: auto;
    }

    #Main-Home{
        height: 100vh;
    }

    .container-text p{
        width: 15em;
    }

    .nav ul{
        gap: 10px;
        margin-right: 1em;
    }

    .nav ul li a{
        font-size: 13px;
    }

    .title a{
        font-size: 20px;
        margin-right: 1em;
    }
}